@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cco4vp');
  src:  url('fonts/icomoon.eot?cco4vp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cco4vp') format('truetype'),
    url('fonts/icomoon.woff?cco4vp') format('woff'),
    url('fonts/icomoon.svg?cco4vp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

[class|="icon"]{
  font-size: 21px;
  margin-left: 14px;
}

[class|="icon"]:hover{
  transform: scale(1.2);
}

.icon-heart:before {
  content: "\e04a";
}
.icon-facebook2:before {
  content: "\e05d";
}
.icon-twitter2:before {
  content: "\e05e";
}
.icon-googleplus:before {
  content: "\e05f";
}
.icon-heart2:before {
  content: "\e900";
}
.icon-bubble:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-bookmark:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}

.icon-twitter2:hover, .icon-twitter:hover {
  color: #2fb7db;
  background: #fff;
}
.icon-facebook:hover {
  color: #fff;
  background: #3b5998;
}
.icon-facebook2:hover{
  color:#0c1f70;
}
.icon-googleplus:hover{
  color:#d44337;
}
.icon-heart:hover {
  color: #ed1226;
}
.icon-bubble:hover{
  color:#d349f0;
}
.icon-search:hover{
  color:#3fc781;
  background: #fff;
  border: 2px solid #3fc781;
}
